<!DOCTYPE html>
    <head>        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto&display=swap" rel="stylesheet">

        <script src="https://apis.google.com/js/platform.js" async defer>    </script>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        
        <meta name="google-signin-client_id" content="94695087988-1snrujgdregortjgorg6d3vtccqinbdh.apps.googleusercontent.com">


        <script type="text/javascript" src="script.js"></script>

        <h1 align="center" style="color:white">EC463 Weather Application</h1>
        <h2 align="center" style="color:white">By Donovan Jones and Justin Morgan</h2>
        <br>

        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript">
            function showPosition() {
                if(navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var positionInfo = "Your current position is (" + "Latitude: " + position.coords.latitude + ", " + "Longitude: " + position.coords.longitude + ")";
                        document.getElementById("finalLocation").value = position.coords.latitude + " " + position.coords.longitude;
                        return position.coords.latitude;
                    });
                } else {
                    alert("Sorry, your browser does not support HTML5 geolocation.");
                }
            }
        </script>
        <style>
            .content {
                max-width: 500px;
                margin:auto;
            }
            .data {
                display:none;
            }
            
            .table_data{
                display:none;
            }
        </style>
        
    </head>

    <body>
        <video autoplay muted loop id="Video">
                    <source src="static/img/rain.mp4" type="video/mp4">
                  </video>
        <div align="center" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <script type="text/javascript">
            function onSignIn(googleUser) {
              var profile = googleUser.getBasicProfile();
              console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
              console.log('Name: ' + profile.getName());
              console.log('Image URL: ' + profile.getImageUrl());
              console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
              $(".g-signin2").css("display", "none");//hide sign in buttton
              $(".data").css("display", "block");//diplay profile data
              $("#profile_picture").attr('src', profile.getImageUrl());//display profile picture
              $("#email").text(profile.getEmail());//display email text information
              showPosition();
            }
        </script>

        <div class="data">
            <h3>Profile Details</h3>
            <img id="profile_picture" class="rounded-circle"
 width="100" height="100" ></img>
            <p id="email" class="alert alert-danger"></p>
            <button  id = "sign_out_button" onclick="signout()" class="btn btn-danger">SignOut</button>
            <script>
                function signout(){
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function(){
                        alert("You have been signed out successfully");
                        
                        $(".g-signin2").css("display", "block");
                        $(".data").css("display", "none");//diplay profile data
                    });
                }
            </script>                                               
                <div class="center-on-page">
                <h1>Weather at my Current Location</h1>
                <form class="form-inline" method="POST" action="{{ url_for('result') }}">
                <input type="hidden" id="finalLocation" name="finalLocation"></input>
                <script type="text/javascript">
                 document.getElementById("finalLocation").value = showPosition();
                </script>
                <button id = "go_button" type="submit" class="btn">Go</button>
                </form>
        </div>
        <br>
        <br>
        <div class = "table_data" id = "tbl_data">
            <!--<table id = "table1" style = "width 200%">
                <tr>
                    <th>Temperature</th>
                    <th>Humidity</th>
                </tr>
            </table>-->
            <script>
                function create_table_vals() {
                    /*var rand_temp_val= Math.floor(Math.random()*20);
                    var td_1 = document.createElement("td");
                    td_1.innerHTML = rand_temp_val;

                    var rand_humd_val= Math.floor(Math.random()*20);
                    var td_2 = document.createElement("td");
                    td_2.innerHTML = rand_humd_val;

                    var tbl = document.getElementById("table1");
                    var row = document.createElement("tr");

                    row.appendChild(td_1);
                    row.appendChild(td_2);
                    tbl.appendChild(row);*/

                    var temp1 = {
                        x:['source 1', 'source 2', 'source 3'],
                        y:[Math.floor(Math.random()*20)+15, Math.floor(Math.random()*20)+15, Math.floor(Math.random()*20)+15],
                        mode: 'markers',
                        type: 'scatter',
                        name: 'temperature'
                    };

                    var humd1 = {
                        x:['source 1', 'source 2', 'source 3'],
                        y:[Math.floor(Math.random()*20)+15, Math.floor(Math.random()*20)+15, Math.floor(Math.random()*20)+15],
                        mode: 'lines',
                        type: 'scatter',
                        name: 'humidity'
                    };

                    

                    var data1 = [temp1, humd1];
                    
                    var layout = {
                        title: "Temperature shown with dots. Humidity shown with lines.",
                    }

                    $(".table_data").css("display","block")

                    Plotly.newPlot('tbl_data', data1, layout);

                    
                }       
            </script>
        </div>
        <script>create_table_vals();</script>
    </body>
</html>