body {
    padding-top: 5rem;
    background: url(img/bg1.jpg);
    background-size:cover;
}

table, th, td {
    border: 1px solid white;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}



.starter-template {
    padding: 3rem 1.5rem;
    text align: center;
}