h1{
    font-family: 'Roboto', sans-serif;
    z-index:100;
    color: white;
}

h2{
    font-family: 'Open Sans Condensed', sans-serif;
}

h3{
    color:white; 
}

body {
    padding-top: 5rem;
}

table, th, td {
    border: 1px solid white;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

#Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
    
  }

  #email{
      background-color:transparent;
      border-color: transparent;
      border:none;
      color:white;
  }

  #go_button{
      color:white;
      background-color: orchid;
      border-color:white;
  }

  #sign_out_button{
    color:white;
    background-color: orchid;
    border-color:white;
  }

  .table_data{
      position:fixed;
      top:220px;;
      left:750px;
  }

.starter-template {
    padding: 3rem 1.5rem;
    text align: center;
}